<div class="box">
  <h2 class="text-center text-white mb-4">Registrate en Twitter DVS</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row mb-4">
            <div class="col">
              <div class="field form-outline text-white">
                <%= f.label :username, "Nombre Usuario", class:'form-label' %><br />
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class:'form-control' %>
              </div>
            </div>
            <div class="col">
              <div class="field form-outline text-white">
                <%= f.label :avatar, "URL Foto Perfil", class:'form-label' %><br/>
                <%= f.text_field :avatar, class:'form-control' %>
              </div>
            </div>            
          </div>
          <div class="field text-white">
            <%= f.label :email, "Correo Electronico", class:'form-label' %><br/>
            <%= f.email_field :email, class:'form-control' %>
          </div>
          <div class="field text-white">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres como minimo)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
          </div>
          <div class="field text-white">
            <%= f.label :password_confirmation, "Confirme Password" %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
            </div>
            <div class="actions mt-4 pt-4">
            <%= f.submit "Registrar Usuario", class:'btn btn-primary btn-block mb-4' %>
          </div>
        <% end %>
</div>